/*******************************/

/********* General CSS *********/

/*******************************/

body {
	color: #666666;
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
	font-weight: 600;
	font-style: italic;
	color: #121518;
}
a {
	color: #454545;
	transition: .3s;
}
a:hover, a:active, a:focus {
	color: #00094B;
	outline: none;
	text-decoration: none;
}
.btn:focus {
	box-shadow: none;
}
.wrapper {
	position: relative;
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	background: #ffffff;
}
.back-to-top {
	position: fixed;
	display: none;
	background: #00094B;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 22px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 9;
}
.back-to-top:hover {
	color: #fff;
	background: #121518;
}
.back-to-top i {
	padding-top: 10px;
}
/**********************************/

/********** Top Bar CSS ***********/

/**********************************/

.top-bar {
	position: relative;
	height: 90px;
	background: #121518;
}
.top-bar .logo {
	padding: 15px 0;
	text-align: left;
	overflow: hidden;
}
.top-bar .logo h1 {
	margin: 0;
	color: #00094B;
	font-size: 75px;
	line-height: 55px;
	font-weight: 800;
}
.top-bar .logo img {
	max-width: 100%;
	max-height: 60px;
}
.top-bar .top-bar-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top-bar .text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 55px;
	padding: 0 20px;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .15);
}
.top-bar .text h2 {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin: 0;
}
.top-bar .text p {
	color: #ffffff;
	font-size: 13px;
	margin: 0;
}
.top-bar .social {
	display: flex;
	height: 90px;
	font-size: 0;
	justify-content: flex-end;
}
.top-bar .social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 100%;
	font-size: 22px;
	color: #ffffff;
	border-right: 1px solid rgba(255, 255, 255, .15);
}
.top-bar .social a:first-child {
	border-left: 1px solid rgba(255, 255, 255, .15);
}
.top-bar .social a:hover {
	color: #00094B;
	background: #ffffff;
}
@media (min-width: 992px) {
	.top-bar {
		padding: 0 60px;
	}
}
@media (max-width: 991.98px) {
	.top-bar .logo {
		text-align: center;
	}
	.top-bar .social {
		display: none;
	}
}
/**********************************/

/*********** Nav Bar CSS **********/

/**********************************/

.nav-bar {
	position: relative;
	padding: 20px 0;
	transition: .3s;
}
.nav-bar.nav-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	z-index: 999;
}
.nav-bar .navbar {
	height: 100%;
	padding: 0;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
	padding: 10px 10px 8px 10px;
	color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
	color: #002ead;
	transition: none;
}
.nav-bar .dropdown-menu {
	margin-top: 0;
	border: 0;
	border-radius: 0;
	background: #fff;
}
.nav-bar .btn {
	color: #ffffff;
	border: 2px solid #002ead;
	border-radius: 0;
}
.nav-bar .btn:hover {
	background: #00094B;
}
@media (min-width: 992px) {
	.nav-bar {
		padding: 20px 60px;
	}
	.nav-bar.nav-sticky {
		padding: 10px 60px;
	}
	.nav-bar, .nav-bar .navbar {
		background: #000000 !important;
	}
	.nav-bar .navbar-brand {
		display: none;
	}
	.nav-bar a.nav-link {
		padding: 8px 15px;
		font-size: 15px;
		text-transform: uppercase;
	}
}
@media (max-width: 991.98px) {
	.nav-bar, .nav-bar .navbar {
		padding: 3px 0;
		background: #121518 !important;
	}
	.nav-bar a.nav-link {
		padding: 5px;
	}
	.nav-bar .dropdown-menu {
		box-shadow: none;
	}
	.nav-bar .btn {
		display: none;
	}
}
/*******************************/

/******* Page Header CSS *******/

/*******************************/

.page-header {
	position: relative;
	margin-bottom: 45px;
	padding: 90px 0;
	text-align: center;
	background: #002ead;
}
.page-header h2 {
	position: relative;
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.page-header h2::after {
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	left: calc(50% - 50px);
	bottom: 0;
	background: #121518;
}
.page-header a {
	position: relative;
	padding: 0 12px;
	font-size: 22px;
	color: #000000;
}
.page-header a:hover {
	color: #ddd;
}
.page-header a::after {
	position: absolute;
	content: "/";
	width: 8px;
	height: 8px;
	top: -2px;
	right: -7px;
	text-align: center;
	color: #121518;
}
.page-header a:last-child::after {
	display: none;
}
@media (max-width: 767.98px) {
	.page-header h2 {
		font-size: 35px;
	}
	.page-header a {
		font-size: 18px;
	}
}
/*******************************/

/******** Carousel CSS *********/

/*******************************/

.carousel {
	position: relative;
	width: 100%;
	height: calc(100vh - 170px);
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-inner, .carousel .carousel-item {
	position: relative;
	width: 100%;
	height: 100%;
}
.carousel .carousel-item img {
	/* width: 100%;
    height: 100%; */
	object-fit: cover;
}
.carousel .carousel-item::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .3);
	z-index: 1;
}
.carousel .carousel-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	flex-direction: column;
	height: calc(100vh - 170px);
}
.carousel .carousel-caption h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
}
.carousel .carousel-caption p {
	color: #ffffff;
	font-size: 25px;
	margin-bottom: 25px;
}
.carousel .carousel-caption .btn {
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	background: #121518;
	border: 2px solid #002ead;
	border-radius: 0;
	transition: .3s;
}
.carousel .carousel-caption .btn:hover {
	color: #fff;
	background: #00094B;
}
@media (max-width: 767.98px) {
	.carousel .carousel-caption h1 {
		font-size: 40px;
		font-weight: 700;
	}
	.carousel .carousel-caption p {
		font-size: 20px;
	}
	.carousel .carousel-caption .btn {
		padding: 12px 30px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0;
	}
}
@media (max-width: 575.98px) {
	.carousel .carousel-caption h1 {
		font-size: 30px;
		font-weight: 500;
	}
	.carousel .carousel-caption p {
		font-size: 16px;
	}
	.carousel .carousel-caption .btn {
		padding: 10px 25px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
	}
}
.carousel .animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}


/*******************************/

/******* Section Header ********/

/*******************************/

.section-header {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 45px;
}
.section-header h2 {
	margin: 0;
	position: relative;
	font-size: 50px;
	font-weight: 700;
	white-space: nowrap;
	z-index: 1;
}
.section-header h2::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 7px;
	left: 0;
	top: 21px;
	background: transparent;
	border-top: 1px solid #00094B;
	border-bottom: 1px solid #00094B;
	z-index: -1;
}
.section-header h2::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 20px;
	background: transparent;
	border-top: 1px solid #00094B;
	border-bottom: 1px solid #00094B;
	z-index: -1;
}
@media (max-width: 767.98px) {
	.section-header h2 {
		font-size: 30px;
	}
}
/*******************************/

/********** About CSS **********/

/*******************************/

.about {
	position: relative;
	width: 100%;
	padding: 45px 0;
}
.about .section-header {
	margin-bottom: 30px;
}
.about .about-img {
	position: relative;
	height: 100%;
	padding: 10px;
	background: #121518;
}
.about .about-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about .about-text p {
	font-size: 16px;
}
.about .about-text a.btn {
	position: relative;
	margin-top: 15px;
	padding: 15px 35px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #002ead;
	border-radius: 0;
	background: #121518;
	transition: .3s;
}
.about .about-text a.btn:hover {
	color: #fff;
	background: #00094B;
}
@media (max-width: 767.98px) {
	.about .about-img {
		margin-bottom: 30px;
		height: auto;
	}
}
/* end of about */

/* prctice area / services */

.section1-services {
	font-family: "Poppins", sans-serif;
	background-color: #fff;
	color: #000000;
	padding-top: 115px;
	padding-bottom: 120px;
}
.section1-services .header-section {
	margin-bottom: 34px;
}
.section1-services .header-section .title {
	position: relative;
	padding-bottom: 14px;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 32px;
}
.section1-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #00094B;
	border-radius: 3px;
}
.section1-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #00094b;
	border-radius: 3px;
}
.section1-services .header-section .description {
	font-size: 14px;
	color: #000000;
}
.section1-services .single-service {
	position: relative;
	margin-top: 30px;
	background-color: #e7ebf7;
	border-radius: 10px;
	padding: 40px 30px;
	overflow: hidden;
}
.section1-services .single-service .content {
	position: relative;
	z-index: 20;
}
.section1-services .single-service .circle-before {
	position: absolute;
	top: 0;
	right: 0px;
	transform: translate(40%, -40%);
	width: 80px;
	height: 80px;
	background-color: #00094B;
	border: 6px solid #002ead;
	border-radius: 50%;
	z-index: 10;
	transition: all .6s;
}
.section1-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}
.section1-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
	width: 70px;
	height: 70px;
	background-color: #00094B;
	border-radius: 5px;
	line-height: 70px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	transition: all .3s;
}
.section1-services .single-service:hover .icon {
	background-color: #fff;
	color: #002ead;
}
.section1-services .single-service .title {
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 14px;
	transition: color .3s;
}
.section1-services .single-service:hover .title {
	color: #fff;
}
.section1-services .single-service .description {
	margin-bottom: 20px;
	font-size: 12px;
	transition: color .3s;
}
.section1-services .single-service:hover .description {
	color: #fff;
}
.section1-services .single-service a {
	position: relative;
	font-size: 15px;
	color: #202020;
	text-decoration: none;
	font-weight: 500;
	transition: color .3s;
}
.section1-services .single-service:hover a {
	color: #fff;
}
.section1-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #00094B;
	transition: background-color .3s;
}
.section1-services .single-service:hover a:after {
	background-color: #fff;
}
/* end of services in home-page */

/* start of services in services-page */

::selection {
	background: #002ead;
	color: #fff;
}
.service {
	max-width: 950px;
	width: 100%;
	padding: 80px 25px 80px 80px;
	background: #fff;
	margin: 0 20px;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-left: 210px;
}
.service .topic {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 20px;
}
.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content .list {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-right: 50px;
	position: relative;
	line-height: 80px;
}
.content .list label {
	height: 60px;
	font-size: 22px;
	font-weight: 500;
	line-height: 60px;
	cursor: pointer;
	padding-left: 25px;
	transition: all 0.5s ease;
	color: #000000;
	z-index: 12;
}
#conveyancing:checked~.list label.conveyancing, #litigation:checked~.list label.litigation, #cooperate-commercial:checked~.list label.cooperate-and-commercial, #legal-research:checked~.list label.legal-research {
	color: #fff;
}
.content .list label:hover {
	color: #00094B;
}
.content .slider {
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	border-radius: 12px;
	background: #00094B;
	transition: all 0.4s ease;
}
#conveyancing:checked~.list .slider {
	top: 0;
}
#litigation:checked~.list .slider {
	top: 60px;
}
#cooperate-and-commercial:checked~.list .slider {
	top: 120px;
}
#legal-research:checked~.list .slider {
	top: 180px;
}
/* #about:checked ~ .list .slider{
  top: 240px;
} */

.content .text-content {
	width: 80%;
	height: 100%;
}
.content .text {
	display: none;
}
.content .text .title {
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: 500;
}
.content .text p {
	text-align: justify;
}
.content .text-content .home {
	display: block;
}
#conveyancing:checked~.text-content .conveyancing, #litigation:checked~.text-content .litigation, #cooperate-and-commercial:checked~.text-content .cooperate-and-commercial, #legal-research:checked~.text-content .legal-research {
	display: block;
}
#litigation:checked~.text-content .conveyancing, #cooperate-and-commercial:checked~.text-content .conveyancing, #legal-research:checked~.text-content .conveyancing {
	display: none;
}
.content input {
	display: none;
}
/* end of practice areas/services */

/*******************************/

/*********** Team CSS **********/

/*******************************/

.demo {
	background: #fff;
}
.our-team {
	text-align: center;
	position: relative;
}
.our-team .pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 8px solid #002ead;
	margin: 0 auto;
	overflow: hidden;
}
.our-team img {
	width: 100%;
	height: auto;
}
.our-team .social {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 20px;
	transition: all 0.3s ease-out 0s;
}
.our-team .social li a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #002ead;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	transform: scale(0);
	transition: all 0.2s ease 0s;
}
.our-team:hover .social li a {
	transform: scale(1);
}
.our-team:hover .social li a:hover {
	background: #00094b;
}
.our-team .team-content {
	padding: 15px 15px 20px;
	background: #000000;
	border-radius: 40px 10px;
	margin-top: -3px;
	color: #00094b;
}
.our-team .title {
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
.our-team .post {
	display: block;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}
.our-team .description {
	padding: 20px;
	background: #e7ebf7;
	border-radius: 20px;
	font-size: 16px;
	color: #000000;
	line-height: 30px;
	margin-bottom: 0;
}
@media only screen and (max-width: 990px) {
	.our-team {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 359px) {
	.our-team .pic {
		width: 150px;
		height: 150px;
	}
	.our-team .social {
		top: 20px;
	}
}
.card {
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	perspective: 500px;
	border: none;
	background-color: inherit;
}
.card .face {
	position: absolute;
	color: #002ead;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.06);
	transform-style: preserve-3d;
	transition: 0.5s;
	backface-visibility: hidden;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #00094b;
	border-bottom: 1px solid #00094b;
}
.card .face.front-face, .card .face.back-face {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card .face.front-face .profile {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}
/* .card .face.front-face .name {
  letter-spacing: 2px;
}

.card .face.front-face .designation {
  font-size: 0.8rem;
  color: #ddd;
  letter-spacing: 0.8px;
} */

.card:hover .face.front-face {
	transform: rotateY(180deg);
}
.card .face.back-face {
	position: absolute;
	background: rgba(255, 255, 255, 0.06);
	transform: rotateY(180deg);
	padding: 20px 30px;
	text-align: center;
	user-select: none;
}
.card:hover .face.back-face {
	transform: rotateY(360deg);
}
@media(max-width: 991.5px) {
	.col-lg-4 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}
#more {
	display: none;
}
/* Our Team-team.html
-------------------------------------------------------*/

.our-team .team-row {
	margin-left: -40px;
	margin-right: -40px;
}
.our-team .team-wrap {
	padding: 0 40px;
}
.our-team .container-fluid {
	padding: 0 50px;
}
.team-img img {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	overflow: hidden;
	width: 100%;
}
.team-member, .team-img {
	position: relative;
	overflow: hidden;
}
.team-title {
	margin: 30px 0 7px;
}
.overlay {
	background-color: rgba(20, 20, 20, .7);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.team-details {
	opacity: 0;
	position: absolute;
	top: 35%;
	left: 0;
	padding: 5%;
	overflow: hidden;
	width: 100%;
	z-index: 2;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.team-details p {
	color: #fff;
}
.team-img:hover .team-details {
	opacity: 1;
	margin-top: -80px;
}
.team-img:hover .overlay {
	opacity: 1;
}
.socials a {
	display: inline-block;
	width: 37px;
	height: 37px;
	background-color: transparent;
}
.socials i {
	line-height: 37px;
	color: #616161;
	font-size: 14px;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.team-details .socials i {
	color: #fff;
}
.socials a:hover i {
	color: #fff;
	background-color: #355c7d;
}
/* end of team */

/*******************************/

/********* Feature CSS *********/

/*******************************/

.feature {
	position: relative;
	width: 100%;
	padding: 45px 0;
}
.feature .feature-item {
	margin-bottom: 30px;
}
.feature .feature-icon {
	height: 180px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #00094B;
}
.feature .feature-icon i {
	width: 70px;
	height: 70px;
	padding: 20px 0;
	text-align: center;
	font-size: 60px;
	color: #002ead;
	background: #000000;
	transition: .5s;
}
.feature .feature-item:hover .feature-icon i {
	margin-right: -15px;
}
.feature .feature-item h3 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: 600;
}
.feature .feature-item h3::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #002ead;
}
.feature .feature-item p {
	margin: 0;
	font-size: 16px;
}
.feature .feature-img {
	position: relative;
	height: 100%;
	padding: 10px;
	background: #00094B;
}
.feature .feature-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Get appointment */

.contact-form .help-block ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.bg-appointment {
	background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url(images/carousel-3.jpg), no-repeat center center;
	background-size: cover;
}
*******************************/
/********* Contact CSS *********/

/*******************************/

.contact {
	position: relative;
	width: 100%;
	padding: 45px 0 15px 0;
}
.contact .contact-info {
	position: relative;
	margin-bottom: 30px;
	width: 100%;
	padding: 30px;
	background: #121518;
}
.contact .contact-item {
	position: relative;
	margin-bottom: 30px;
	padding: 30px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	border: 2px solid #00094B;
}
.contact .contact-item i {
	display: inline-block;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #fff;
	border: 2px solid #002ead;
}
.contact .contact-text {
	position: relative;
	width: auto;
	padding-left: 15px;
}
.contact .contact-text h2 {
	color: #002ead;
	font-size: 25px;
	font-weight: 600;
}
.contact .contact-text p {
	margin: 0;
	color: #999999;
	font-size: 16px;
}
.contact .contact-item:last-child {
	margin-bottom: 0;
}
.contact .contact-form {
	position: relative;
	margin-bottom: 30px;
	padding: 50px;
}
.contact .contact-form input {
	height: 60px;
	border-radius: 0;
	border-width: 2px;
	border-color: #121518;
}
.contact .contact-form textarea {
	height: 190px;
	border-radius: 0;
	border-width: 2px;
	border-color: #121518;
}
.contact .contact-form .btn {
	padding: 16px 35px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	background: #121518;
	border: 2px solid #002ead;
	border-radius: 0;
	transition: .3s;
}
.contact .contact-form .btn:hover {
	color: #fff;
	background: #00094B;
}
/*******************************/

/********* Timeline CSS - about_page ********/

/*******************************/

.timeline {
	position: relative;
	padding: 45px 0;
}
.timeline .timeline-start {
	position: relative;
	width: calc(100% + 30px);
	left: -15px;
	right: -15px;
}
.timeline .timeline-container {
	padding: 0 15px;
	position: relative;
	background: inherit;
	width: 50%;
	margin-top: -5px;
}
.timeline .timeline-container.left {
	left: 0;
}
.timeline .timeline-container.right {
	left: 50%;
}
.timeline .timeline-container::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 5px;
	background: #00094B;
	z-index: 1;
}
.timeline .timeline-container.left::before {
	top: 0;
	right: 0;
}
.timeline .timeline-container.right::before {
	bottom: 0;
	left: 0;
}
.timeline .timeline-container::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 5px;
	background: #00094B;
	z-index: 1;
}
.timeline .timeline-container.left::after {
	bottom: 0;
	right: 0;
}
.timeline .timeline-container.right::after {
	top: 0;
	left: 0;
}
.timeline .timeline-container:first-child::before, .timeline .timeline-container:last-child::before {
	display: none;
}
.timeline .timeline-container .timeline-content {
	padding: 30px;
	background: #121518;
	position: relative;
	border-right: 5px solid #00094B;
}
.timeline .timeline-container.right .timeline-content {
	border-left: 5px solid #00094B;
}
.timeline .timeline-container .timeline-content h2 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
}
.timeline .timeline-container .timeline-content h2 span {
	display: inline-block;
	margin-right: 15px;
	padding: 5px 10px;
	color: #002ead;
	background: #00094B;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}
.timeline .timeline-container .timeline-content p {
	margin: 0;
	font-size: 16px;
	color: #999999;
}
@media (max-width: 767.98px) {
	.timeline .timeline-container {
		width: 100%;
		margin-top: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.timeline .timeline-container:last-child {
		padding-bottom: 0;
	}
	.timeline .timeline-container.right {
		left: 0%;
	}
	.timeline .timeline-container.left::after, .timeline .timeline-container.right::after, .timeline .timeline-container.left::before, .timeline .timeline-container.right::before {
		width: 5px;
		height: 35px;
		left: 15px;
	}
	.timeline .timeline-container.left .timeline-content, .timeline .timeline-container.right .timeline-content {
		border-left: 5px solid #00094B;
		border-right: none;
	}
}
/* new */

.thin {
	text-decoration-line: underline;
	text-decoration-style: solid;
}

/* new footer */

.footer-distributed{
  background: #002ead;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 35%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #000000;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-left: 100px;
 
}

/* .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
} */

/* Footer Center */

.footer-distributed .footer-center{
  width: 30%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #fff;
  font-size: 15px;
  width: 33px;
  height: 33px;
  border-radius: 90%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  rgb(10, 185, 243);
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 33%;
  
}



.footer-distributed .footer-company-about span{
  display: block;
  color:  #000000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
  margin-left: 120px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
/* end of new footer */